<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@typeRemboursement.edit.headline">Edit Type Remboursement</h1>
    <div>
        <a routerLink="/typeRemboursements" class="btn btn-secondary" i18n="@@typeRemboursement.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@typeRemboursement.id.label" label="Id" />
    <app-input-row [group]="editForm" field="libelle" i18n-label="@@typeRemboursement.libelle.label" label="Libelle" />
    <input type="submit" i18n-value="@@typeRemboursement.edit.headline" value="Edit Type Remboursement" class="btn btn-primary mt-4" />
</form>
