<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@statutCredit.add.headline">Add Statut Credit</h1>
    <div>
        <a routerLink="/statutCredits" class="btn btn-secondary" i18n="@@statutCredit.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="libelle" i18n-label="@@statutCredit.libelle.label" label="Libelle" />
    <input type="submit" i18n-value="@@statutCredit.add.headline" value="Add Statut Credit" class="btn btn-primary mt-4" />
</form>
