<h1 class="mb-4" i18n="@@home.index.headline">Welcome to your new app!</h1>

<div class="col-md-4 mb-5">
    <h4 class="mb-3" i18n="@@home.index.exploreEntities">Explore your entities</h4>
    <div class="list-group">


        <a routerLink="/clients" class="list-group-item list-group-item-action" i18n="@@client.list.headline">Clients</a>
        <a routerLink="/credits" class="list-group-item list-group-item-action" i18n="@@credit.list.headline">Credits</a>
        <a routerLink="/creditPersonnels" class="list-group-item list-group-item-action" i18n="@@creditPersonnel.list.headline">Credit Personnels</a>
        <a routerLink="/creditProfessionnels" class="list-group-item list-group-item-action" i18n="@@creditProfessionnel.list.headline">Credit Professionnels</a>
        <a routerLink="/remboursements" class="list-group-item list-group-item-action" i18n="@@remboursement.list.headline">Remboursements</a>
        <a routerLink="/creditImmobiliers" class="list-group-item list-group-item-action" i18n="@@creditImmobilier.list.headline">Credit Immobiliers</a>
    </div>
</div>
